BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 120

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly

DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right

SortIncludes:
  Enabled: true
  IgnoreCase: false
  IgnoreExtension: false

IncludeBlocks: Preserve